@use "variables" as v;
@use "mixins" as m;

.cta{
    position: fixed;
    top: 0;
    width: 100%;
    height: 4rem;
    padding: 0 1rem;
    font-family: 'rajdhani', sans-serif;
    z-index: 1;
    border-bottom: solid 1px v.$gris1;
    

    @include m.flexbox(center, center, row){
        gap: 1.5rem
    }
    @include m.centrarHorizontal();
    @include m.tablet{
        height: 5rem;
        gap: 3rem;
    }

    @include m.desktopSmall{
        height: 5rem;

    }
    @include m.desktop{
        height: 6.5rem;
        justify-content: center;
        gap: 5rem;
    }
    @include m.desktopBig{
        gap: 7rem;
    }

    .cta__logo{
        height:50%;
        width: 4rem;
        transform: scale(1.3);

        @include m.tablet{
            width: 4rem;
        }
        @include m.desktopSmall{
            width: 4rem;
        }
        @include m.desktop{
            width: 4rem;
        }
        @include m.desktopBig{
            transform: scale(1.5);
        }
    }
    

    .count__container{
        position: relative;
        @include m.flexbox(center, center, row){}
        gap: .5rem;
        font-family: 'rajdhani', sans-serif;
        color: v.$blanco;

        border-top: solid v.$blanco 1px;
        border-bottom: solid v.$blanco 1px;
        padding: .5rem;
        
        & > div{
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 2fr 1fr;
            justify-items: end;
            align-items: center;

            & span[class*="number"] {
                font-size: 1rem;
                @include m.tablet{
                    font-size: 1.4rem;
                }
                @include desktopSmall{
                    font-size: 2rem;
                }
            }
            & span[class*="text"] {
                font-size: .5rem;
                justify-self: center;
                @include m.tablet{
                    font-size: .7rem;
                }
                @include desktopSmall{
                    font-size: 1rem;    
                }
            }
        }
    }
    
    .cta__mask{
        position: absolute;
        inset: 0;
        z-index: -1;
        background-color: #07000004;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
    }
}
.cta__btn{
    width: 5rem;
    outline: 0;
    border:0;
    cursor: pointer;
    text-decoration: none;
    position: relative;
    color: #000;
    background: v.$blanco;
    padding: .5rem 0;
    font-size: .6rem;
    background-color: v.$colorSecundario;
    font-weight: 700;
    border-radius: .2rem .5rem .2rem .5rem;
    
    
    transition: all 0.2s;
    &:hover{
        background-color: v.$blanco;
        border-radius: .5rem .2rem .5rem .2rem;
    }

    @include m.tablet{
        width: 8rem;
        padding: .8rem 0;
        font-size: .8rem;
        font-weight: 800;
    }
    @include m.desktopBig{
        width: 10rem;
        padding: 1rem 0;
        font-size: .8rem;
        font-weight: 800;

        &:hover{
            background-color: v.$blanco;
            border-radius: .6rem .3rem .6rem .3rem;
        }
    }
    
}

