@font-face{
    font-family: 'rajdhani';
    src: url("/assets/fonts/Rdjhani/Rajdhani-Regular.ttf");
}
@font-face{
    font-family: 'raleway';
    src: url("/assets/fonts/Raleway/raleway-black.woff");
}