@use "mixins" as m;
@use "variables" as v;

* {
  box-sizing: border-box;
}
.main__container{
  position: relative;
}
body {
  width: 100vw;
  margin: 0;
  background-color: rgb(0, 0, 0);
  overflow-x: hidden;
}
section {
  overflow-x: hidden;
}
.container{
  padding: 0 1rem;

  @include tabletSmall{
    padding: 0 3rem;
  }

  @include tablet{
    padding: 0 4rem;
  }
  @include m.desktopBig{
    max-width: 100rem;

  }
}



.img__container {
  height: inherit;
  width: auto;
}

.img__container img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  display: block;
}

// .main__container{
//   width: 100vw;
//   position: relative;
// }