@use "variables" as v;
@use "mixins" as m;

.hero {
  height: 180dvh;
  margin: 0 auto;
  color: v.$blanco;
  padding-bottom: 6rem;
  overflow-y: hidden;
  @include m.font-raleway(1rem, 400, normal);

  // box-shadow: v.$blancoTransparent2 0px 1px 1px 0px inset, v.$blancoTransparent2 0px 50px 100px -20px, v.$blancoTransparent2 0px 30px 60px -50px;
  @include m.flexbox(center, center, column) {
    gap: clamp(1rem, -0.4rem + 7vw, 8rem);
  }

  @include m.tabletSmall {
    padding-bottom: 10rem;
  }
  @include m.desktopSmall {
    height: calc(100dvh - 5rem);
    padding-bottom: 0;
    @include m.flexbox(center, center, row) {
    }
  }
  @include m.desktop {
    height: calc(100dvh - 6.5rem);
  }
  @include m.desktopBig {
    height: calc(100dvh - 7rem);
  }

  .hero__text {
    position: relative;
    height: 100dvh;
    @include m.flexbox(space-evenly, flex-start, column) {
    }
    .cta__btn { 
      width: 7.5rem;
      height: 2rem;
      @include m.tabletSmall{
        font-size: medium;
        width: 8rem;
        height: 2.5rem;
      }

      @include m.desktop{
        width: 9rem;
        height: 3rem;
      }
      @include m.desktopBig{
        width: 11rem;
        height: 3.5rem;
      }

    }

    .scrolldown{
      background-color: transparent;
      border: white solid 1px;
      color: v.$blanco;
      align-self: flex-end;
      @include m.desktopSmall{
        display: none;
      } 
    }

    @include m.desktopSmall {
      width: 50%;
      .cta__btn{
        align-self: flex-start;
      }
      margin-top: 0;
    }

    h1 {
      margin: 0;
      line-height: 90%;
      font-size: clamp(3rem, 1.571rem + 7.143vw, 5rem);

      @include m.desktopSmall {
        font-size: clamp(5rem, 3rem + 2.5vw, 6rem);
      }
    }
    h3 {
      margin: 0;
      font-size: clamp(1rem, 0.429rem + 2.857vw, 1.8rem);

      @include m.desktopSmall {
        font-size: clamp(1.8rem, 1.467rem + 0.694vw, 2.3rem);
      }
    }
  }


    
    .hero__ani {
    min-height: 400px;
    position: relative;
    width: 100%;

    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    border: solid 1px white;
    border-radius: 0.2rem 1rem 0.2rem 1rem;
    overflow: hidden;

    @include m.flexbox(center, center, row) {
    }
    @include m.desktopSmall{
      width: 50%;
    }
    @include m.desktop {
      height: 60%;
    }
  }

  .mindMap {
    //ESTE MANEJA TODO PA
    padding: 1rem;
    width: auto;
    top: 0;
    left: 0;
    overflow: visible;
    min-height: 400px;

    @include m.desktop {
      margin: 1rem 0;
      top: 0;
      left: 0;
      position: absolute;
      height: 170%;
    }
    @include m.desktopBig{
      width: 100%;
    }
  }
}


.separador__hero {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: v.$blanco;
  height: 1px;
}
