@use "variables" as v;
@use "mixins" as m;

.hero {
  height: auto;
  width: 100%;
  margin: 0 auto;
  // border: solid 1px red;
  font-family: 'raleway', sans-serif;
  color: v.$blanco;
  @include m.flexbox(center,center,column){
  }

  @include m.desktopSmall {
    @include m.flexbox(center, center, row){}
  }

  // .hero__text,
  // .hero__ani{
  //   @include m.tablet{
  //     padding: 0 2rem;
  //   }
  // }


  .hero__text {
    height: 50vh;
    // background-color: #ffffff41;
    @include m.flexbox(center,flex-start, column){
      gap: 1rem;
    }
    
    h1 {
      margin: 0;
      line-height: 90%;

      font-size: clamp(3rem, 1.571rem + 7.143vw, 5rem);

      @include m.desktopSmall {
        font-size: clamp(5rem, 1rem + 5vw, 7rem);
      }
    }
    h3 {
      margin: 0;
      font-size: clamp(1rem, 0.429rem + 2.857vw, 1.8rem);

      @include m.desktopSmall {
        font-size: clamp(1.8rem, 1.467rem + 0.694vw, 2.3rem);
      }
    }
  }
  .hero__ani {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    // background-color: #ff03ab52;

    .hero__mindmap--mask{
      position: absolute;
      background-color: #2b80f0;
      height: 100%;
      width: 100%;
    }

    .hero__mindmap{
        position: relative;
        // @include m.flexbox(center,center,row){}
        background-color: #ca3a3a65;
        // height: 600px;
        // width: 100%;


        .mindMap{
          width: 100%;
           height: 200%;
        }


    }
  }
}
