@use "variables" as v;
@use "mixins" as m;

.hero {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  font-family: "raleway";
  color: v.$blanco;
  @include m.flexbox(center, center, column) {
    gap: clamp(1rem, -0.4rem + 7vw, 8rem);
  }

  @include m.desktopSmall {
    @include m.flexbox(center, center, row) {
    }
  }

  .hero__text {
    height: 40dvh;
    @include m.flexbox(center, flex-start, column) {
      gap: 1rem;
    }
    @include m.mobile{
      height: 30dvh;
    }
    @include m.tablet{
      height: 40dvh;
    }
    @include m.desktopSmall{
      height: 100dvh;
    }

    h1 {
      margin: 0;
      line-height: 90%;

      font-size: clamp(3rem, 1.571rem + 7.143vw, 5rem);

      @include m.desktopSmall {
        font-size: clamp(5rem, 1rem + 5vw, 7rem);
      }
    }
    h3 {
      margin: 0;
      font-size: clamp(1rem, 0.429rem + 2.857vw, 1.8rem);

      @include m.desktopSmall {
        font-size: clamp(1.8rem, 1.467rem + 0.694vw, 2.3rem);
      }
    }
  }
  //si quiero agrandar el ancho de este elemento tengo que cambiar 
  // el tamaño maximo de las secciones 120rem
  .hero__ani {
    position: relative;
    height: clamp(31.25rem, 13.393rem + 89.286vw, 56.25rem);
    width: 100%;
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    border: solid 1px white;
    border-radius: .2rem 1rem .2rem 1rem;
    overflow: hidden;
    padding: .5rem 0 ;
    @include m.flexbox(center, center, row) {
    }

    .hero__mindmap{
      width: 100%;
      position: absolute;
      top: 0;
      padding: .5rem .5rem;
    }
    
    @include m.tablet{

      .hero__mindmap{
        width: 80%;
        padding: .8rem .5rem;
      }
    }
    
    @include m.desktop{
      height: 400px;

      .hero__mindmap{
        padding: .5rem;
        // height: 1000px;
      }
    }

    @include desktopBig{
      height: 500px;
    }
  }
}
