//colores
$colorPrimario: #003399;
$colorSecundario: #ccff66;
$blanco: #cccccc;
$gris1: #999999;
$gris2: #666666;
$gris3: #333333;
$negro: #000000;
$transparent: transparent;
$blancoTransparent: #cccccc0a;

//mediaqueries
$mobileSmall: 320px;
$mobile: 480px;
$tabletSmall: 601px;
$tablet: 768px;
$desktopSmall: 1024px;
$desktop: 1280px;

//fonts
$fuentePrincipal: 'roboto', sans-serif;
$fuenteSecundaria: 'raleway', sans-serif;
$fuenteTerciaria: 'rajdhani', sans-serif;

